$small-breakpoint-width: 720px;

.criteria-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 64px;
}
  
.field-full-width {
    width: 100%;
}

.form-container {
    display: grid;
    place-items: center;    
}

.result-list {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
  
    @media (max-width: $small-breakpoint-width) {
      justify-content: center;
    }
}

.result-list-item {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 300px;
  
    .mat-card-title {
      font-size: 20px;
    }
  
    &, &:active, &:hover, &:focus {
      text-decoration: none;
    }
}
  
.result-list-card-summary {
    min-height: 4em;
    margin-bottom: 8px;
}

a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  }

  a:link {
    text-decoration: none;
  }