<div class="form-container">
    <form [formGroup]="criteriaForm" class="criteria-form">
        <mat-form-field class="field-full-width">
            <input type="text"
                    placeholder="Search for station"
                    aria-label="Search"
                    matInput
                    formControlName="search"
                    [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedStation($event.option.value)" [displayWith]="displayFn">
                <mat-option *ngFor="let station of filteredStations | async" [value]="station">
                    <span>{{station.station_name}}</span> |
                    <small>Station Type: {{station.station_type}} | [{{station.nwsli}}]</small>
                </mat-option>
            </mat-autocomplete>
            <button type="button" mat-button *ngIf="dirty" matSuffix mat-icon-button aria-label="Clear" (click)="reset()">
                <mat-icon>close</mat-icon>
            </button>            
        </mat-form-field>
    </form>
</div>
<div class="result-list">
    <div *ngFor="let card of cards" class="result-list-item">       
        <mat-card class="result-list-card">
          <mat-card-title>{{card.station}}</mat-card-title>
          <mat-card-subtitle>({{card.network}}) | <a href="{{card.location}}" target="_blank">Location</a></mat-card-subtitle>
          <mat-card-content>
              <ul *ngFor="let item of card.scores | keyvalue">
                  <li>{{item.key}}: {{item.value | number}}</li>
              </ul>
          </mat-card-content>
        </mat-card>
      </div>
</div>